# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# macOS
.DS_Store

# VS Code
.vscode/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/